<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension point="org.eclipse.ui.console.consolePageParticipants">
   <consolePageParticipant
      id="com.redhat.gss.waigatahu.diagnostics.ui.console.DiagnosticsPageParticipant"
      class="com.redhat.gss.waigatahu.diagnostics.ui.console.DiagnosticsPageParticipant">
   </consolePageParticipant>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="com.redhat.gss.waigatahu.diagnostics.ui.editor.DiagnosisResultsEditor"
          id="com.redhat.gss.waigatahu.diagnostics.ui.editor.DiagnosisResultsEditor"
          name="DiagnosisResultsEditor">
    </editor>
 </extension>
</plugin>
