<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.redhat.gss.waigatahu.cases.core.CaseRepositoryConnector">
      </connectorCore>
      <connectorUi
            class="com.redhat.gss.waigatahu.cases.ui.WaigatahuCaseConnectorUi">
      </connectorUi>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="false"
            anonymous="false"
            label="Red Hat Customer Portal"
            repositoryKind="com.redhat.gss.waigatahu.cases"
            urlRepository="https://access.redhat.com/rs"/>
   </extension> 
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.redhat.gss.waigatahu.cases.ui.editor.CaseEditorPageFactory"
            id="org.eclipse.mylyn.trac.ui.pageFactory">
      </pageFactory>
   </extension>
</plugin>
